.img-common-app-store { background-position: 0 0%; background-size: 100%; }
.img-common-google-play { background-position: 0 1.222762%; background-size: 100%; }
.img-common-ezding-logo { background-position: 0 2.457854%; background-size: 116.444444%; }
.img-common-ezding-app-logo { background-position: 0 4.252598%; background-size: 131%; }
.img-ezmber-gray-stamp { background-position: 0 7.425036%; background-size: 145.555556%; }
.img-ezmber-pink-stamp { background-position: 0 9.865186%; background-size: 174.666667%; }
.img-ezmber-white-stamp { background-position: 0 12.275971%; background-size: 174.666667%; }
.img-common-master { background-position: 0 14.539174%; background-size: 181.944444%; }
.img-common-visa { background-position: 0 15.905882%; background-size: 187.142857%; }
.img-ezmber-empty-list { background-position: 0 17.527587%; background-size: 189.855072%; }
.img-ezmber-ticket { background-position: 0 20.443466%; background-size: 218.333333%; }
.img-ezmber-gift { background-position: 0 21.998426%; background-size: 229.824561%; }
.img-ezmber-empty-poster { background-position: 0 23.566379%; background-size: 247.169811%; }
.img-common-quick-booking { background-position: 0 25.051141%; background-size: 262%; }
.img-ezmber-cancel { background-position: 0 26.656176%; background-size: 262%; }
.img-ezmber-chair { background-position: 0 28.216811%; background-size: 262%; }
.img-ezmber-email { background-position: 0 29.708891%; background-size: 262%; }
.img-ezmber-light-ticket { background-position: 0 31.215686%; background-size: 262%; }
.img-ezmber-money { background-position: 0 32.604249%; background-size: 262%; }
.img-ezmber-name { background-position: 0 34.209284%; background-size: 262%; }
.img-ezmber-phone { background-position: 0 35.814319%; background-size: 262%; }
.img-ezmber-setting { background-position: 0 37.419355%; background-size: 262%; }
.img-ezmber-ticket-large { background-position: 0 38.901961%; background-size: 262%; }
.img-common-icon-avatar { background-position: 0 40.302029%; background-size: 267.346939%; }
.img-common-icon-search { background-position: 0 41.875098%; background-size: 267.346939%; }
.img-ezmber-board { background-position: 0 43.393559%; background-size: 267.346939%; }
.img-cash { background-position: 0 44.614663%; background-size: 284.782609%; }
.img-ezmber-mber { background-position: 0 45.781618%; background-size: 291.111111%; }
.img-common-arrow-fuchsia { background-position: 0 47.212188%; background-size: 297.727273%; }
.img-ezmber-film { background-position: 0 48.717545%; background-size: 311.904762%; }
.img-ftc { background-position: 0 49.945338%; background-size: 319.512195%; }
.img-bonus { background-position: 0 51.011765%; background-size: 327.5%; }
.img-package { background-position: 0 52.248864%; background-size: 327.5%; }
.img-payeasy { background-position: 0 53.490196%; background-size: 327.5%; }
.img-book-movie-left-disabled { background-position: 0 55.174593%; background-size: 335.897436%; }
.img-book-movie-left { background-position: 0 57.19703%; background-size: 335.897436%; }
.img-book-movie-right-disabled { background-position: 0 59.219466%; background-size: 335.897436%; }
.img-book-movie-right { background-position: 0 61.241902%; background-size: 335.897436%; }
.img-common-jcb { background-position: 0 62.788145%; background-size: 344.736842%; }
.img-credit { background-position: 0 63.782602%; background-size: 354.054054%; }
.img-common-burger { background-position: 0 64.828451%; background-size: 363.888889%; }
.img-common-mainmenu-facebook { background-position: 0 65.905179%; background-size: 409.375%; }
.img-bank { background-position: 0 67.105882%; background-size: 422.580645%; }
.img-ticket-icon { background-position: 0 68.05057%; background-size: 436.666667%; }
.img-ticket { background-position: 0 68.830966%; background-size: 436.666667%; }
.img-gift-bonus { background-position: 0 69.633099%; background-size: 459.649123%; }
.img-coupon { background-position: 0 70.776471%; background-size: 524%; }
.img-payment { background-position: 0 71.725215%; background-size: 524%; }
.img-remove { background-position: 0 72.53708%; background-size: 524%; }
.img-seat { background-position: 0 73.291732%; background-size: 524%; }
.img-setup { background-position: 0 74.082748%; background-size: 524%; }
.img-cutboard { background-position: 0 74.836193%; background-size: 534.693878%; }
.img-index-arrow-more { background-position: 0 75.604807%; background-size: 545.833333%; }
.img-ezmber-cross { background-position: 0 76.313738%; background-size: 623.809524%; }
.img-ezmber-tick { background-position: 0 76.999844%; background-size: 623.809524%; }
.img-film-icon { background-position: 0 77.782982%; background-size: 623.809524%; }
.img-film { background-position: 0 78.594848%; background-size: 623.809524%; }
.img-common-mainmenu-close { background-position: 0 79.282931%; background-size: 655%; }
.img-ezmber-man { background-position: 0 80.768625%; background-size: 655%; }
.img-ezmber-gray-plus { background-position: 0 81.570338%; background-size: 727.777778%; }
.img-ezmber-minus { background-position: 0 82.162331%; background-size: 727.777778%; }
.img-ezmber-pink-plus { background-position: 0 82.754323%; background-size: 727.777778%; }
.img-ezmber-signout { background-position: 0 83.268482%; background-size: 727.777778%; }
.img-common-magnifier { background-position: 0 83.81872%; background-size: 770.588235%; }
.img-book-date-left-disabled { background-position: 0 84.616586%; background-size: 935.714286%; }
.img-book-date-left { background-position: 0 85.459941%; background-size: 935.714286%; }
.img-book-date-right-disabled { background-position: 0 86.303295%; background-size: 935.714286%; }
.img-book-date-right { background-position: 0 87.14665%; background-size: 935.714286%; }
.img-ezmber-female { background-position: 0 87.688716%; background-size: 935.714286%; }
.img-ezmber-male { background-position: 0 88.18677%; background-size: 935.714286%; }
.img-index-movie-express-column { background-position: 0 88.657227%; background-size: 935.714286%; }
.img-index-movie-express-critic { background-position: 0 89.124008%; background-size: 935.714286%; }
.img-index-movie-express-news { background-position: 0 89.590789%; background-size: 935.714286%; }
.img-ezmber-to { background-position: 0 90.029554%; background-size: 1007.692308%; }
.img-index-arrow-next { background-position: 0 90.733229%; background-size: 1007.692308%; }
.img-index-arrow-prev { background-position: 0 91.466459%; background-size: 1007.692308%; }
.img-book-location { background-position: 0 92.013078%; background-size: 1091.666667%; }
.img-common-arrow-forward { background-position: 0 92.427305%; background-size: 1091.666667%; }
.img-ezmber-clock { background-position: 0 92.831597%; background-size: 1091.666667%; }
.img-ezmber-open { background-position: 0 93.235889%; background-size: 1091.666667%; }
.img-ezmber-drop { background-position: 0 93.494799%; background-size: 1190.909091%; }
.img-ezmber-active-backward { background-position: 0 93.830614%; background-size: 1310%; }
.img-ezmber-active-forward { background-position: 0 94.172494%; background-size: 1310%; }
.img-ezmber-dark-drop { background-position: 0 94.426331%; background-size: 1310%; }
.img-ezmber-disabled-backward { background-position: 0 94.763015%; background-size: 1310%; }
.img-ezmber-disabled-forward { background-position: 0 95.104895%; background-size: 1310%; }
.img-index-ranklist-down { background-position: 0 95.446775%; background-size: 1310%; }
.img-index-ranklist-even { background-position: 0 95.788656%; background-size: 1310%; }
.img-index-ranklist-up { background-position: 0 96.130536%; background-size: 1310%; }
.img-man { background-position: 0 96.969697%; background-size: 1310%; }
.img-index-cinema-down { background-position: 0 97.266656%; background-size: 1637.5%; }
.img-index-cinema-right { background-position: 0 97.546203%; background-size: 1637.5%; }
.img-ezmber-active-left { background-position: 0 97.886558%; background-size: 2183.333333%; }
.img-ezmber-active-right { background-position: 0 98.228438%; background-size: 2183.333333%; }
.img-ezmber-disabled-left { background-position: 0 98.570319%; background-size: 2183.333333%; }
.img-ezmber-disabled-right { background-position: 0 98.912199%; background-size: 2183.333333%; }
.img-ezmber-pink-right { background-position: 0 99.254079%; background-size: 2183.333333%; }
.img-advance-icon { background-position: 0 99.441427%; background-size: 2620%; }
.img-back-icon { background-position: 0 99.627618%; background-size: 2620%; }
.img-left-icon { background-position: 0 99.813809%; background-size: 4366.666667%; }
.img-right-icon { background-position: 0 100%; background-size: 4366.666667%; }
